pandas==2.2.3
numpy==1.23.5
wordcloud==1.9.4
matplotlib==3.9.2
matplotlib-inline==0.1.7
seaborn==0.13.2
scikit-learn==1.2.0
joblib==1.4.2
transformers==4.24.0
datasets==2.14.5
wandb==0.15.12
sentence-transformers==2.2.2
torch==1.12.1
gensim==4.2.0
nltk==3.7
kagglehub==0.3.4
huggingface_hub==0.18.0
scipy==1.10.0